body {
    background-color: rgb(221, 184, 135);
}
a {
    font-size: 20px;
    color: purple;
    padding: 10px ;
    font-family:'Times New Roman', Times, serif;
}
h1{
    border: 2px solid rgb(209, 58, 199) ;
    padding-bottom:20px ;
    padding-top: 20px;
}
h2{
    border: 2px solid rgb(185, 137, 70); 
    padding-bottom:20px;
    padding-top:20px;
}
p{
    font-size: 30px;
    color:rgb(96, 16, 87);
    font-family: 'Courier New', Courier, monospace;
}

img{
    height: 500px;
    width: 400px;;
    
    
}
header{
    padding-right: 4px;
}
