body {
    background-color: antiquewhite;
}
a {
    font-size: 20px;
    color: purple;
    padding: left 2px ;
    font-family:'Times New Roman', Times, serif;
}
h1{
    border: 2px solid red ;
    padding-bottom:40px ;
}
h2{
    border: 2px solid blue; 
    padding-top:50px;
}
p{
    font-size: 30px;
    color:darkolivegreen;
    font-family: 'Courier New', Courier, monospace;
}
.separate{
    font-size: 15px;
    color:tomato;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
    height: 500px;
    width: 200px;;
}