body {
    background-color: rgb(221, 184, 135);
}
a {
    font-size: 20px;
    color: purple;
    padding: 10px ;
    font-family:'Times New Roman', Times, serif;
}
h1{
    border: 2px solid rgb(75, 43, 73) ;
    padding-bottom:20px ;
    padding-top: 20px;
}
h2{
    border: 2px solid rgb(53, 36, 13); 
    padding-bottom:20px;
    padding-top:20px;
}
p{
    font-size: 30px;
    color:rgb(39, 44, 2);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.separate{
    font-size: 15px;
    color:rgb(125, 31, 14);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
    height: 500px;
    width: 400px;;
}
header{
    padding-right: 4px;
}